@page "/event-type/{Id}"
@using EventPlanner.Models
@using EventPlanner.Data
@inject EventTypeService eventTypeService
@inject NavigationManager NavigationManager

<div class="title-action">
    <MudText Typo="Typo.h2">Edit Event Type</MudText>
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Filled.Close" Color="Color.Transparent" OnClick="Cancel"> Cancel</MudButton>
</div>

<EditForm Model="@obj" OnValidSubmit="Update">
    <DataAnnotationsValidator />
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Name" Variant="Variant.Outlined" @bind-Value="obj.Name" For="@(() => obj.Name)" />
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Filled.Save" Class="ml-auto">Update</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }
    EventType obj = new EventType();

    protected override async Task OnInitializedAsync()
    => obj = await Task.Run(() => eventTypeService.GetOne(Guid.Parse(Id)));

    protected async void Update()
    {
        await eventTypeService.UpdateOne(obj);
        NavigationManager.NavigateTo("event-types");
    }

    void Cancel()
        => NavigationManager.NavigateTo("event-types", true);
}
