<h1>Event</h1>
<div class="form-row">
  <div class="form-group col-md-4">
    <label for="type">Type</label>
    <input type="text" class="form-control" [(ngModel)]="event.type" readonly />
  </div>

  <div class="form-group col-md-4">
    <label for="date">Date</label>
    <input type="date" class="form-control" [ngModel]="event.date | date: 'yyyy-MM-dd'"
      (ngModelChange)="event.date = $event" readonly />
  </div>

  <div class="form-group col-md-4">
    <label for="celebrant">Celebrant/s</label>
    <input type="text" class="form-control" [(ngModel)]="event.celebrant" readonly />
  </div>
</div>

<div class="btn-head">
  <h1>Suppliers</h1>
  <button class="btn btn-info" [routerLink]="['..']">View Event</button>
  <button class="btn btn-success" [routerLink]="[0]">New Supplier</button>
</div>

<table class="table table-striped" aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Contact Person</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>PackagePrice</th>
      <th>Balance</th>
      <th class="fit"></th>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplier of suppliers; let i = index">
      <td class="align-middle">{{ supplier.name }}</td>
      <td class="align-middle">{{ supplier.type.name }}</td>
      <td class="align-middle">{{ supplier.contactPerson }}</td>
      <td class="align-middle">{{ supplier.mobile }}</td>
      <td class="align-middle">{{ supplier.email }}</td>
      <td class="align-middle">{{ supplier.packagePrice }}</td>
      <td class="align-middle">{{ supplier.balance }}</td>
      <td class="fit">
        <button type="button" class="btn btn-sm" style="background-color: transparent" placement="top" ngbTooltip="Edit"
          [routerLink]="[supplier.id]">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </td>
      <td class="fit">
        <button type="button" class="btn btn-sm" style="background-color: transparent" placement="top"
          ngbTooltip="Remove" (click)="deleteSupplier(i, supplier)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>