<h1>Event</h1>
<form (ngSubmit)="onSubmit(eventForm)" #eventForm="ngForm" autocomplete="off">
  <input type="hidden" [(ngModel)]="event.id" name="id" />

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="type">Type</label>
      <select class="custom-select" name="type" id="type" #type="ngModel" [compareWith]="compareFn"
        [(ngModel)]="event.type" required>
        <option *ngFor="let type of eventTypes" [ngValue]="type">
          {{ type.name }}
        </option>
      </select>
      <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
        Type is required
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="date">Date</label>
      <input type="text" class="form-control" bsDatepicker name="date" id="date" [(ngModel)]="event.date"
        #date="ngModel" [bsConfig]="bsConfig" [minDate]="minDate" required>
      <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
        Date is required
      </div>
    </div>
  </div>

  <div *ngIf="weddingEventTyperId === event?.type?.id">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="brideName">Bride's Name</label>
        <input type="text" class="form-control" name="brideName" id="brideName" #brideName="ngModel"
          [(ngModel)]="event.brideName" required />
        <div [hidden]="brideName.valid || brideName.pristine" class="alert alert-danger">
          Bride's Name is required
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="groomName">Groom's Name</label>
        <input type="text" class="form-control" name="groomName" id="groomName" #groomName="ngModel"
          [(ngModel)]="event.groomName" required />
        <div [hidden]="groomName.valid || groomName.pristine" class="alert alert-danger">
          Groom's Name is required
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="preparationVenue">Preparation Venue</label>
      <input type="text" class="form-control" name="preparationVenue" id="preparationVenue" #preparationVenue="ngModel"
        [(ngModel)]="event.preparationVenue" required />
      <div [hidden]="preparationVenue.valid || preparationVenue.pristine" class="alert alert-danger">
        Preparation Venue is required
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="preparationTime">Preparation Time</label>
      <input type="time" class="form-control" name="preparationTime" id="preparationTime" #preparationTime="ngModel"
        [(ngModel)]="event.preparationTime" required />
      <div [hidden]="preparationTime.valid || preparationTime.pristine" class="alert alert-danger">
        Preparation Time is required
      </div>
    </div>

    <ng-container *ngIf="weddingEventTyperId === event?.type?.id">
      <div class="form-group col-md-3">
        <label for="ceremonyVenue">Ceremony Venue</label>
        <input type="text" class="form-control" name="ceremonyVenue" id="ceremonyVenue" #ceremonyVenue="ngModel"
          [(ngModel)]="event.ceremonyVenue" required />
        <div [hidden]="ceremonyVenue.valid || ceremonyVenue.pristine" class="alert alert-danger">
          Ceremony Venue is required
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="ceremonyTime">Ceremony Time</label>
        <input type="time" class="form-control" name="ceremonyTime" id="ceremonyTime" #ceremonyTime="ngModel"
          [(ngModel)]="event.ceremonyTime" required />
        <div [hidden]="ceremonyTime.valid || ceremonyTime.pristine" class="alert alert-danger">
          Ceremony Time is required
        </div>
      </div>
    </ng-container>

    <div class="form-group col-md-3">
      <label for="receptionVenue">Reception Venue</label>
      <input type="text" class="form-control" name="receptionVenue" id="receptionVenue" #receptionVenue="ngModel"
        [(ngModel)]="event.receptionVenue" required />
      <div [hidden]="receptionVenue.valid || receptionVenue.pristine" class="alert alert-danger">
        Reception Venue is required
      </div>
    </div>

    <div class="form-group col-md-3">
      <label for="receptionTime">Reception Time</label>
      <input type="time" class="form-control" name="receptionTime" id="receptionTime" #receptionTime="ngModel"
        [(ngModel)]="event.receptionTime" required />
      <div [hidden]="receptionTime.valid || receptionTime.pristine" class="alert alert-danger">
        Reception Time is required
      </div>
    </div>
  </div>

  <div *ngIf="weddingEventTyperId !== event?.type?.id">
    <div class="form-group">
      <label for="celebrant">Celebrant/s</label>
      <input type="text" class="form-control" name="celebrant" id="celebrant" #celebrant="ngModel"
        [(ngModel)]="event.celebrant" required />
      <div [hidden]="celebrant.valid || celebrant.pristine" class="alert alert-danger">
        Celebrant is required
      </div>
    </div>
  </div>

  <div class="form-row" *ngIf="weddingEventTyperId !== event?.type?.id">
    <div class="form-group col-md-3">
      <label for="address">Address</label>
      <input type="text" class="form-control" name="address" id="address" [(ngModel)]="event.address" />
    </div>

    <div class="form-group col-md-3">
      <label for="mobile">Mobile</label>
      <input type="text" class="form-control" name="mobile" id="mobile" [(ngModel)]="event.mobile" />
    </div>

    <div class="form-group col-md-3" [class.col-md-6]="weddingEventTyperId === event?.type?.id">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" [(ngModel)]="event.email" />
    </div>

    <ng-container *ngIf="weddingEventTyperId !== event?.type?.id">
      <div class="form-group col-md-3">
        <label for="social">FB/IG</label>
        <input type="text" class="form-control" name="social" id="social" [(ngModel)]="event.social" />
      </div>
    </ng-container>
  </div>

  <div class="form-row" *ngIf="weddingEventTyperId === event?.type?.id">
    <div class="form-group col-md-3">
      <label for="brideAddress">Bride's Address</label>
      <input type="text" class="form-control" name="brideAddress" id="brideAddress" [(ngModel)]="event.brideAddress" />
    </div>
    <div class="form-group col-md-3">
      <label for="brideMobile">Bride's Mobile</label>
      <input type="text" class="form-control" name="brideMobile" id="brideMobile" [(ngModel)]="event.brideMobile" />
    </div>
    <div class="form-group col-md-3">
      <label for="brideEmail">Bride's Email</label>
      <input type="email" class="form-control" name="brideEmail" id="brideEmail" [(ngModel)]="event.brideEmail" />
    </div>
    <div class="form-group col-md-3">
      <label for="brideSocial">Bride's FB/IG</label>
      <input type="text" class="form-control" name="brideSocial" id="brideSocial" [(ngModel)]="event.brideSocial" />
    </div>
    <div class="form-group col-md-3">
      <label for="groomAddress">Groom's Address</label>
      <input type="text" class="form-control" name="groomAddress" id="groomAddress" [(ngModel)]="event.groomAddress" />
    </div>
    <div class="form-group col-md-3">
      <label for="groomMobile">Groom's Mobile</label>
      <input type="text" class="form-control" name="groomMobile" id="groomMobile" [(ngModel)]="event.groomMobile" />
    </div>
    <div class="form-group col-md-3">
      <label for="groomEmail">Groom's Email</label>
      <input type="email" class="form-control" name="groomEmail" id="groomEmail" [(ngModel)]="event.groomEmail" />
    </div>
    <div class="form-group col-md-3">
      <label for="groomSocial">Groom's FB/IG</label>
      <input type="text" class="form-control" name="groomSocial" id="groomSocial" [(ngModel)]="event.groomSocial" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="package">Package</label>
      <select class="custom-select" name="package" id="package" #package="ngModel" [compareWith]="compareFn"
        [(ngModel)]="event.package" required>
        <option *ngFor="let package of packages" [ngValue]="package">
          {{ package.name }}
        </option>
      </select>
      <div [hidden]="package.valid || package.pristine" class="alert alert-danger">
        Package is required
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="packagePrice">Package Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">{{'PHP'| currencySymbol}}</span>
        </div>
        <input type="number" class="form-control" name="packagePrice" id="packagePrice"
          [(ngModel)]="event.packagePrice" />
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="notes">Notes</label>
      <input type="text" class="form-control" name="notes" id="notes" [(ngModel)]="event.notes" />
    </div>

    <div class="form-group col-md-4">
      <label for="downPayment">Down Payment</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">{{'PHP'| currencySymbol}}</span>
        </div>
        <input type="number" class="form-control" name="downPayment" id="downPayment" [(ngModel)]="event.downPayment" />
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="additionalCharges">Additional Charges</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">{{'PHP'| currencySymbol}}</span>
        </div>
        <input type="number" class="form-control" name="additionalCharges" id="additionalCharges"
          [(ngModel)]="event.additionalCharges" />
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="balance">Balance</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">{{'PHP'| currencySymbol}}</span>
        </div>
        <input type="number" class="form-control" name="balance" id="balance" [(ngModel)]="event.balance" />
      </div>
    </div>
  </div>

  <div>
    <h2>Attachments</h2>
    <div class="form-row">
      <input class="col-md-11" type="file" name="attachment" id="attachment" [disabled]="!event.id"
        (change)="handleUpload($event)" />
      <button class="col-md-1" type="button" class="btn btn-primary" (click)="postAttachment()"
        [disabled]="!allowUpload">
        Upload
      </button>
    </div>
    <table class="table table-striped" aria-labelledby="tableLabel" *ngIf="attachments">
      <thead>
        <tr>
          <th>Name</th>
          <th class="fit"></th>
          <th class="fit"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attachment of attachments; let i = index">
          <td>{{ attachment.name }}</td>
          <td class="fit">
            <button type="button" class="btn btn-sm" style="background-color: transparent" placement="top"
              ngbTooltip="Download" (click)="downloadAttachment(attachment.id)">
              <fa-icon [icon]="faDownload"></fa-icon>
            </button>
          </td>
          <td class="fit">
            <button type="button" class="btn btn-sm" style="background-color: transparent" placement="top"
              ngbTooltip="Delete" (click)="deleteAttachment(i, attachment.id)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  <div class="form-row bottom-btn-row">
    <button type="button" class="btn btn-info" target="_blank" [routerLink]="['program']" [disabled]="!event.id">
      <fa-icon [icon]="faClipboard"></fa-icon> Program
    </button>
    <button type="button" class="btn btn-info" [routerLink]="['guests']" [disabled]="!event.id">
      <fa-icon [icon]="faUser"></fa-icon> Guests
    </button>
    <button type="button" class="btn btn-info" [routerLink]="['suppliers']" [disabled]="!event.id">
      <fa-icon [icon]="faUserTie"></fa-icon> Suppliers
    </button>

    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-secondary" id="dropdownBasic1" [disabled]="!event.id" ngbDropdownToggle>
        Report
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem type="button" class="btn" style="background-color: transparent"
          [routerLink]="['report']" [queryParams]="{ reportName: 'budget-form' }">
          Budget Form
        </button>
        <button ngbDropdownItem type="button" class="btn" style="background-color: transparent"
          [routerLink]="['report']" [queryParams]="{ reportName: 'checklist' }">
          Checklist
        </button>
        <button ngbDropdownItem type="button" class="btn" style="background-color: transparent"
          [routerLink]="['report']" [queryParams]="{ reportName: 'program' }">
          Program
        </button>
        <button ngbDropdownItem type="button" class="btn" style="background-color: transparent"
          [routerLink]="['report']" [queryParams]="{ reportName: 'guest-list' }">
          Guest List
        </button>
      </div>
    </div>
  </div>
  <div class="form-row bottom-btn-row">
    <button type="submit" class="btn btn-success">
      {{ event.id ? "Update Event" : "Submit Event" }}
    </button>
  </div>
</form>