<h1>Event</h1>
<div class="form-row">
  <div class="form-group col-md-4">
    <label for="type">Type</label>
    <input type="text" class="form-control" [(ngModel)]="event.type" readonly />
  </div>

  <div class="form-group col-md-4">
    <label for="date">Date</label>
    <input type="date" class="form-control" [ngModel]="event.date | date: 'yyyy-MM-dd'"
      (ngModelChange)="event.date = $event" readonly />
  </div>

  <div class="form-group col-md-4">
    <label for="celebrant">Celebrant/s</label>
    <input type="text" class="form-control" [(ngModel)]="event.celebrant" readonly />
  </div>

  <button class="btn btn-info" [routerLink]="['..']">View Event</button>
</div>

<h1>Program</h1>
<form (ngSubmit)="onPlanSubmit(plan)" #planForm="ngForm" autocomplete="off">
  <div class="form-group">
    <div [froalaEditor]="options" [(froalaModel)]="plan" name="plan" id="plan"></div>
  </div>
  <button type="submit" class="btn btn-success">Update Program</button>
</form>