<div class="upcoming-head">
  <h1 id="tableLabel">Upcoming Events</h1>
  <button class="btn btn-success" (click)="editForm()">New Event</button>
</div>

<p *ngIf="!events"><em>Loading...</em></p>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="events">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Celebrant/s</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Package</th>
      <th>DownPayment</th>
      <th>Balance</th>
      <th>Guests Count</th>
      <th>Suppliers Count</th>
      <th class="fit"></th>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td class="align-middle">{{ event.type }}</td>
      <td class="align-middle">{{ event.date | date }}</td>
      <td class="align-middle">{{ event.celebrant }}</td>
      <td class="align-middle">{{ event.address }}</td>
      <td class="align-middle">{{ event.mobile }}</td>
      <td class="align-middle">{{ event.email }}</td>
      <td class="align-middle">{{ event.package }}</td>
      <td class="align-middle">{{ event.downPayment | currency }}</td>
      <td class="align-middle">{{ event.balance | currency }}</td>
      <td class="align-middle">{{ event.guestsCount }}</td>
      <td class="align-middle">{{ event.suppliersCount }}</td>
      <td class="fit">
        <button
          class="btn btn-lg"
          style="background-color: transparent"
          (click)="editForm(event.id)"
        >
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </td>
      <td class="fit">
        <button
          class="btn btn-lg"
          style="background-color: transparent"
          (click)="delete(event.id)"
        >
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
