<div class="upcoming-head">
  <h1 id="tableLabel">Upcoming Events</h1>
  <button class="btn btn-success" (click)="editForm()">New Event</button>
</div>

<p *ngIf="!events"><em>Loading...</em></p>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="events">
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Celebrant/s</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Package</th>
      <th>DownPayment</th>
      <th>Balance</th>
      <th class="fit"></th>
      <th class="fit"></th>
      <th class="fit"></th>
      <th class="fit"></th>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td class="align-middle">{{ event.type }}</td>
      <td class="align-middle">{{ event.date | date }}</td>
      <td class="align-middle">{{ event.celebrant }}</td>
      <td class="align-middle">{{ event.mobile }}</td>
      <td class="align-middle">{{ event.email }}</td>
      <td class="align-middle">{{ event.package }}</td>
      <td class="align-middle">{{ event.downPayment | currency }}</td>
      <td class="align-middle">{{ event.balance | currency }}</td>
      <td class="fit">
        <button type="button" class="btn btn-sm" style="background-color: transparent" placement="top"
          ngbTooltip="Program" [routerLink]="['/event', event.id, 'program']">
          <fa-icon [icon]="faClipboard"></fa-icon>
        </button>
      </td>
      <td class="fit">
        <button type="button" class="btn btn-sm" style="background-color: transparent" placement="top"
          ngbTooltip="Guests" [routerLink]="['/event', event.id, 'guests']">
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
      </td>
      <td class="fit">
        <button type="button" class="btn btn-sm" style="background-color: transparent" placement="top"
          ngbTooltip="Suppliers" [routerLink]="['/event', event.id, 'suppliers']">
          <fa-icon [icon]="faUserTie"></fa-icon>
        </button>
      </td>
      <td class="fit">
        <button type="button" class="btn btn-sm" style="background-color: transparent" (click)="editForm(event.id)"
          placement="top" ngbTooltip="Edit">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </td>
      <td class="fit">
        <button type="button" class="btn btn-sm" style="background-color: transparent" (click)="delete(event.id)"
          placement="top" ngbTooltip="Remove">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>