<h1 id="tableLabel">Event Types</h1>

<p *ngIf="!types"><em>Loading...</em></p>

<form (ngSubmit)="onSubmit()" #eventTypeForm="ngForm" autocomplete="off">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="type.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
        </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!eventTypeForm.form.valid">Add</button>
    <button type="button" class="btn btn-default" (click)="newType(); eventTypeForm.reset()">Clear</button>
</form>

<br>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="types">
    <thead>
        <tr>
            <th>Name</th>
            <th class="fit"></th>
            <th class="fit"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let type of types">
            <td class="align-middle">{{ type.name }}</td>
            <td class="fit">
                <button class="btn btn-lg" style="background-color:transparent;" (click)="edit(type.id)">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
            </td>
            <td class="fit">
                <button class="btn btn-lg" style="background-color:transparent;" (click)="delete(type.id)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>