.page {
    min-height: 100vh;
}

.title-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fit {
    white-space: nowrap;
    width: 1%;
}

.mud-table-body .mud-table-row {
    cursor: pointer !important;
}

.sf-license-warning {
    display: none !important;
}