table {
    width: 100%;
}

#suppliers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #suppliers thead {
        display: table-header-group;
    }

        #suppliers thead tr th {
            text-align: center;
        }

    #suppliers tfoot {
        display: table-footer-group;
    }

    #suppliers td,
    #suppliers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #suppliers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #suppliers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4caf50;
        color: white;
    }

    #suppliers tfoot tr td {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #a6d8a8;
        color: black;
    }

    #suppliers .header {
        text-align: center;
    }

    #suppliers tfoot tr:last-child,
    #suppliers tfoot tr:last-child td {
        background-color: transparent;
        border: none;
    }

        #suppliers tfoot tr:last-child td p {
            color: grey;
        }

    #suppliers .logo,
    #suppliers .logo td {
        border: none;
        text-align: center;
        background-color: transparent;
    }

#checklist {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #checklist td,
    #checklist th {
        border: 1px solid black;
        padding: 8px;
    }

    #checklist th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
    }

#checklist-header {
    width: 100%;
    text-align: center;
}

#checklist tr td:first-child {
    width: 1%;
    white-space: nowrap;
}

#checklist tr td:not(:first-child) {
    width: 50%;
}

#checklist thead {
    display: table-header-group;
}

    #checklist thead tr,
    #checklist thead tr td {
        border: none;
        text-align: center;
    }

#checklist tfoot {
    display: table-footer-group;
}


    #checklist tfoot tr:last-child,
    #checklist tfoot tr:last-child td {
        background-color: transparent;
        border: none;
    }

        #checklist tfoot tr:last-child td p {
            color: grey;
        }

#checklist .logo,
#checklist .logo td {
    border: none;
    text-align: center;
    background-color: transparent;
}

#plan thead {
    display: table-header-group;
}

    #plan thead tr th {
        text-align: center;
    }

#plan tfoot {
    display: table-footer-group;
    color: grey;
}

#plan tr {
    page-break-inside: avoid;
}

#plan .plan-title {
    text-align: center;
    font-weight: bolder;
}

#plan .part-title {
    font-weight: bolder;
}

#guest-list {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #guest-list td,
    #guest-list th {
        border: 1px solid black;
        padding: 8px;
    }

    #guest-list th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
    }

#guest-list-header {
    width: 100%;
    text-align: center;
}

#guest-list tr:nth-child(1) td,
#guest-list tr:nth-child(2) td,
#guest-list tr:nth-child(3) td {
    border: none;
}

#guest-list thead {
    display: table-header-group;
}

    #guest-list thead tr,
    #guest-list thead tr th {
        border: none;
        text-align: center;
    }

#guest-list tfoot {
    display: table-footer-group;
}


    #guest-list tfoot tr:last-child,
    #guest-list tfoot tr:last-child td {
        background-color: transparent;
        border: none;
    }

        #guest-list tfoot tr:last-child td p {
            color: grey;
        }

#guest-list .logo,
#guest-list .logo td {
    border: none;
    text-align: center;
    background-color: transparent;
}
