@inherits LayoutComponentBase

<PageTitle>EventPlanner</PageTitle>

<div class="page" style="background-color: lightgray">
    <NavMenu />
    <MudContainer Fixed="true">
        @Body
    </MudContainer>
</div>

<MudThemeProvider />
<MudSnackbarProvider />