.table td.fit, .table th.fit {
  white-space: nowrap;
  width: 1%;
}

.btn-head {
  display: grid;
  grid-gap: 1em;
  align-items: center;
  grid-template-columns: 10fr 1.5fr 1.5fr 1fr 1fr;
}

.email-template {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 25px;
  background-color: lightgray;
}

.param-lst {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
