<h1>Event</h1>
<div class="form-row">
  <div class="form-group col-md-4">
    <label for="type">Type</label>
    <input type="text" class="form-control" [(ngModel)]="event.type" readonly />
  </div>

  <div class="form-group col-md-4">
    <label for="date">Date</label>
    <input type="date" class="form-control" [ngModel]="event.date | date: 'yyyy-MM-dd'"
      (ngModelChange)="event.date = $event" readonly />
  </div>

  <div class="form-group col-md-4">
    <label for="celebrant">Celebrant/s</label>
    <input type="text" class="form-control" [(ngModel)]="event.celebrant" readonly />
  </div>
</div>

<div class="btn-head">
  <h1>Guests</h1>
  <button class="btn btn-primary" (click)="sendInvitations(false, '')"><fa-icon [icon]="faEnvelope"></fa-icon> Send Invitations</button>
  <button class="btn btn-secondary" (click)="sendInvitations(true, '')"><fa-icon [icon]="faEnvelope"></fa-icon> Resend Invitations</button>
  <button class="btn btn-info" [routerLink]="['..']">View Event</button>
  <button class="btn btn-success" [routerLink]="[0]">New Guest</button>
</div>

<table class="table table-striped" aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Moblie</th>
      <th>Will Attend</th>
      <th class="fit"></th>
      <th class="fit"></th>
      <th class="fit"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let guest of guests; let i = index">
      <td class="align-middle">{{ guest.name }}</td>
      <td class="align-middle">{{ guest.email }}</td>
      <td class="align-middle">{{ guest.mobile }}</td>
      <td class="align-middle">{{ guest.willAttend }}</td>
      <td class="fit">
        <button type="button" class="btn btn-sm" style="background-color: transparent" placement="top"
          ngbTooltip="Send Invite" (click)="sendInvitations(true, guest.id)">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </button>
      </td>
      <td class="fit">
        <button type="button" class="btn btn-sm" style="background-color: transparent" placement="top"
          ngbTooltip="Edit" [routerLink]="[guest.id]">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </td>
      <td class="fit">
        <button type="button" class="btn btn-sm" style="background-color: transparent" placement="top"
          ngbTooltip="Remove" (click)="deleteGuest(i, guest)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>